form {
	background: #F7F7F7;
	border-radius: 6px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 1px rgba(255, 255, 255, 1);
	border: 1px solid #B2B2B2;
	padding:10px;
}
form input {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition:    all 0.3s ease-in-out;
	-o-transition:      all 0.3s ease-in-out;
	transition:         all 0.3s ease-in-out;
}
form input {
	outline: none;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 7px 10px;
	background: #f1f1f1;
	color: #B5B5B5;
	margin-bottom: 0px;
	max-width:240px;
	}
form input:hover {
	background:#f7f7f7;
}
form input:focus {
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-color: transparent;
	color: #565656;
}
form select {
	outline: none;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 7px 10px;
	background: #f1f1f1;
	color: #b5b5b5;
	margin-bottom: 4px;
}
form select:hover {
	background:#f7f7f7;
}
form select:focus {
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-color: transparent;
	color: #565656;
}
form textarea {
	outline: none;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 7px 10px;
	background: #f1f1f1;
	color: #b5b5b5;
	margin-bottom: 4px;
}
form textarea:hover {
	background:#F7F7F7;
}
form textarea:focus {
	box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-color: transparent;
	color: #565656;
}
form fieldset {

	display:inline-block;
	padding: 20px 5px 5px 0px;
	margin:4px;
}
form legend {
	font-size: 2em;
	text-transform :uppercase;
	text-shadow: 0 1px 1px #fff;
	color: #1b6d8e;
	padding: 0 5px;
}
form label {
	display: block;
	font-size: 1em;
	padding-left: 10px;
	letter-spacing: 1px;
	color: #1b6d8e;
	opacity: 0.8;
	padding-top: 0px;
	padding-bottom: 10px;
}
form input:focus + label {
	opacity: 1.0;
}
form label {
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

form label.top {
	padding-top: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}

form input[type="submit"] {
	border : solid 1px #ffffff;
	border-radius : 12px;
	moz-border-radius : 12px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 5px 13px;
	background : #00557F;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00557F), color-stop(100%,#1BA1E2));
	background : -moz-linear-gradient(top, #00557F 0%, #1BA1E2 100%);
	background : -webkit-linear-gradient(top, #00557F 0%, #1BA1E2 100%);
	background : -o-linear-gradient(top, #00557F 0%, #1BA1E2 100%);
	background : -ms-linear-gradient(top, #00557F 0%, #1BA1E2 100%);
	background : linear-gradient(top, #00557F 0%, #1BA1E2 100%);
	cursor:pointer;
	outline:none;
}
form input[type="submit"]:hover {
	color: #69C4E7;
}
form input[type="submit"]:active {
	color: #69C4E7;
}
form div {
	margin: 0 0 6px 0;
}
form div > div {
	padding: 4px;
}
form button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	margin-left:2px;
	margin-right:2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}form button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}form button:active {
	position:relative;
	top:1px;
}
input[type=checkbox]{
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	border:0;
}



input[type=checkbox]  {
	padding-left:20px;
	height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox {
							position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
						}
						
input[type=checkbox]:checked + label.checkbox-label {
	background-position: 0 -20px;
}
input[type=checkbox]:disabled + label.checkbox-label {
	background-position: 0 -40px;
}
.checkbox-label{ 
	margin:4px 5px;
	background-image:url(/resources/global/css/check-three-style.png); 
	display:block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #1b6d8e;
	opacity: 0.8;
	padding:0px;
	padding-left:20px;
	height:20px; 
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	}
    .container {
      width: 210px;
      height: 140px;
      position: relative;
      margin: 0 auto 40px;
	      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
    }
	
	.container .perspective{
	      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
}
	
	
	    #carousel {
      width: 100%;
height: 750px;
      position: absolute;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
-webkit-column-gap: 0px;
-moz-column-gap: 0px;
column-gap: 0px
}

    .ready #carousel {
      -webkit-transition: -webkit-transform ease-out 2.5s;
         -moz-transition: -moz-transform ease-out 2.5s;
           -o-transition: -o-transform ease-out 2.5s;
              transition: transform ease-out 2.5s;
    }

    #carousel.panels-backface-invisible figure {
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

    #carousel .figure {
      display: block;
      position: absolute;
			  }
			  

    .ready #carousel figure {
      -webkit-transition: opacity 1s, -webkit-transform 1s;
         -moz-transition: opacity 1s, -moz-transform 1s;
           -o-transition: opacity 1s, -o-transform 1s;
              transition: opacity 1s, transform 1s;
			  }
     figure {
     -webkit-transition: all 1s, -webkit-transform 1s;
         -moz-transition: all 1s, -moz-transform 1s;
           -o-transition: all 1s, -o-transform 1s;
              transition: all 1s, transform 1s;
    }
img{
max-width:100%;
border-radius:10%;

}
.folder figure{
background-color:black;
}

#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #f7f7f7; }
#selectable .ui-selected { background: #ced1d0; color: #565656; }
#selectable { list-style-type: none; margin: 0; padding: 0;  }

#selectable li {
	outline: none;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 0px 1px 6px 0px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 7px 10px;
	background: #858c8a;
	color: #b5b5b5;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
	}
	
	.folder{
margin:10px;
	}

.notfound img{
border-color:red;
border-style:solid;
border-width:2px;
}
button, button { background: transparent; border: 0; color: #fff; opacity: .5; }
button:hover, button:hover { opacity: 1; }
button:disabled, button:disabled { opacity: .2; }

.controls { margin: 60px 0 0; text-align: center; }
.controls .divider { display: inline-block; margin: 0 10px; }
.controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

@media (min-height: 930px) {
 #carousel {
	column-width:359px;
-moz-column-width:359px;
-webkit-column-width:359px;
    }
    #carousel .figure {
      width: 320px;
      height: 320px;
    }
}


@media (min-height: 700px) AND (max-height: 929px) {
 #carousel {
	column-width:299px;
-moz-column-width:299px;
-webkit-column-width:299px;
    }
    #carousel .figure {
      width: 267px;
      height: 267px;
    }
}


@media (min-height: 500px) AND (max-height: 699px) {
 #carousel {
	column-width:233px;
-moz-column-width:233px;
-webkit-column-width:233px;
    }
    #carousel .figure {
      width: 208px;
      height: 208px;
    }
}



@media (min-height: 400px) AND (max-height: 499px) {
 #carousel {
	column-width:166px;
-moz-column-width:166px;
-webkit-column-width:166px;
    }
    #carousel .figure {
      width: 148px;
      height: 148px;
    }
}



@media (min-height: 300px) AND (max-height: 399px) {
 #carousel {
	column-width:133px;
-moz-column-width:133px;
-webkit-column-width:133px;
    }
    #carousel .figure {
      width: 118px;
      height: 118px;
    }
}

.figure img{
transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-webkit-transform:translate3d(0,0,0);
}

.genres{
position: absolute;
bottom: 0%;
z-index: 10000;
font-size: 75%;
margin-left: 22%;
height: 16%;}

.searchbox{
position:absolute;
bottom:25px;
z-index:10000;
color:white;
}

#volume{
width: 7.5%;
position: absolute;
left: 10px;
bottom: 8%;
}

#mute{
width: 50px;
height: 21px;
position: absolute;
left: 20px;
bottom: 11%;
cursor: pointer;
color: white;
font-weight: bold;
}

#playpause{
position: absolute;
bottom: 11%;
left: 8%;
width: 3%;
cursor: pointer;
}

#stop{
position: absolute;
bottom: 11%;
left: 11%;
width: 3%;
cursor: pointer;
}

#fullscreen{
position: absolute;
bottom: 11%;
left: 14%;
width: 3%;
cursor: pointer;
}

#subtitle{
position: absolute;
bottom: 11%;
left: 17%;
width: 3%;
cursor: pointer;
}